*.html linguist-detectable=false
*.htm linguist-detectable=false
reports/** linguist-detectable=false
debug/** linguist-detectable=false
logs/** linguist-detectable=false
screenshots/** linguist-detectable=false
tests/** linguist-detectable=false
